@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: Inter;
    font-weight: 400;
    src: url('../assets/fonts/Inter-Regular.woff2') format('woff2');
  }
  @font-face {
    font-family: Inter;
    font-weight: 700;
    src: url('../assets/fonts/Inter-Bold.woff2') format('woff2');
  }
}

@layer base {
  ::-webkit-scrollbar {
    width: 8px;
  }
  ::-webkit-scrollbar-track {
    background: #1d2d44;
  }
  ::-webkit-scrollbar-thumb {
    background-color: #52525b;
    border-radius: 20px;
    border: transparent;
  }

  html {
    min-height: 100svh;
    background-color: #14213d;
  }

  html,
  body {
    height: 100%;
    overflow-x: hidden;
  }

  #root {
    height: 100%;
  }
}

@layer utilities {
  .text-fill-transparent {
    -webkit-text-fill-color: transparent;
  }
}

@layer components {
  .padding-x {
    @apply px-6 sm:px-12 lg:px-28;
  }
  .contact-input {
    @apply px-2 py-3 rounded bg-[#203258] text-text-dark  placeholder:text-text-dark focus:outline focus:outline-1 focus:outline-text-dark;
  }
}
