@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: Inter;
    font-weight: 400;
    src: url('../assets/fonts/Inter-Regular.ttf') format('truetype');
  }
  @font-face {
    font-family: Inter;
    font-weight: 700;
    src: url('../assets/fonts/Inter-Bold.ttf') format('truetype');
  }
}

@layer base {
  ::-webkit-scrollbar {
    width: 8px;
  }
  ::-webkit-scrollbar-track {
    background: #1d2d44;
  }
  ::-webkit-scrollbar-thumb {
    background-color: #52525b;
    border-radius: 20px;
    border: transparent;
  }
  html,
  body,
  #root {
    min-height: 100%;
  }
}
