@tailwind base;
@tailwind components;
@tailwind utilities;

/* @layer base {
  @font-face {
    font-family: Inter;
    font-weight: 400;
    src: url(./fonts/Inter-Regular.ttf) format('truetype');
  }
  @font-face {
    font-family: Inter;
    font-weight: 700;
    src: url(./fonts/Inter-Bold.ttf) format('truetype');
  }
} */

/* ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif', 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji' */
